.features {
    padding: 60px 0;
    @media screen and (min-width: $tablet) {
      padding: 94px 0;
    }
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.features-item {
    @media screen and (min-width: $tablet) {
        flex-basis: calc((100% - 30px) /2 );
    }
}

.features-item:nth-child(1)::before {
    background-image: url(../image/svg/features-icons.svg#antenna);
}

.features-item:nth-child(2)::before {
    background-image: url(../image/svg/features-icons.svg#clock);
}

.features-item:nth-child(3)::before {
    background-image: url(../image/svg/features-icons.svg#diagram);
}

.features-item:nth-child(4)::before {
    background-image: url(../image/svg/features-icons.svg#astronaut);
}

.features-subtitle {
    color: initial;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10px;
}

.features-text {
    color: $text-grey-color;
    line-height: 1.7;
    letter-spacing: 0.42px;
}
