.header {
    padding: 24px 0;
    background-color: $white-color;
    
    @media screen and (max-width: $tablet) {
        padding: 15px 0;
    }
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    @extend %logo;
}
.header-accent {
    color: $color-accent;
}
.header-logo {
    color: #000;
    margin-right: 93px;
}

.header-contacts {
    display: flex;
    column-gap: 50px;
    margin-left: auto;

    @media screen and (max-width: $desktop) {
        flex-direction: column;
        row-gap: 10px;
    }
}

@media screen and (max-width: $tablet) {
    .header-page,
    .header-contacts {
        display: none;
    }
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-page {
    position: relative;
    color: $text-dark-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.28px;
    padding-bottom: 34px;
    transition: color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 1119px) {
        padding-bottom: 36px;
    }

    &:hover,
    &:focus {
        color: $color-accent;
        fill: $color-accent;
        cursor: pointer;
    }
}

.header-link {
    display: flex;
    color: $text-grey-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.28px;
    fill: $text-grey-color;
    align-items: center;
    gap: 10px;
    transition: fill, color, 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $color-accent;
        fill: $color-accent;
        cursor: pointer;
    }
}

.header-page::after,
.header-page::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    opacity: 0;
    background-color: $color-accent;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-page:hover::after,
.header-page:focus::after {
    opacity: 1;
}

.js-open-menu {
    width: 40px;
    background-color: $white-color;
    border: none;
    cursor: pointer;
    margin-left: auto;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}
.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(100%);
}

.menu-container.is-open {
    transform: translate(0);
    opacity: 1;
}